{% extends 'base.html' %}
{% block title%}
about
{% endblock%}
{% block content%}

<div>
    <div class="menu">
        <h1>About</h1>
        <div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit reiciendis pariatur, accusamus excepturi 
                similique debitis amet vero dolorem, itaque optio, error quidem recusandae repellat perferendis ratione eum 
                ad? Assumenda, sunt.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi minima illum laudantium vel dolore 
                aspernatur, aut iste, expedita ab suscipit beatae aliquid sunt dolorem, voluptas totam rem ducimus saepe 
                repudiandae.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem omnis sunt laborum! Distinctio laboriosam 
                dicta eaque deleniti, consectetur asperiores impedit animi minus iure mollitia tempora ab culpa optio nam 
                aliquid.
            </p>
        </div>
        
    </div>

</div>
{% endblock%}