{% extends 'base.html' %}
{%load static%}
{% block title%}
home 
{% endblock%} 
{% block content%}
<div class="con">
    
    
    <div class="mgrid">
         
        
            <div>
            <img src="{% static 'images/food.jpg'%}" alt="" class="img1"> 
                       <div class="ppp">
                        <p>
                            <h5>Lorem, ipsum.</h5>
                            <p>Lorem, ipsum.</p>
                        </p>
                       </div>
            </div>
            
            <div>
            <img src="{% static 'images/food.jpg'%}" alt="" class="img1">`  
            <div class="ppp">
                <p>
                    <h5>Lorem, ipsum.</h5>
                    <p>Lorem, ipsum.</p>
                </p>
               </div>          
            </div>
            <div>
                <img src="{% static 'images/food.jpg'%}" alt="" class="img1"> 
                <div class="ppp">
                    <p>
                        <h5>Lorem, ipsum.</h5>
                        <p>Lorem, ipsum.</p>
                    </p>
                   </div>               
             </div>
             <div>
                <img src="{% static 'images/food.jpg'%}" alt="" class="img1"> 
                <div class="ppp">
                    <p>
                        <h5>Lorem, ipsum.</h5>
                        <p>Lorem, ipsum.</p>
                    </p>
                   </div>               
             </div>
             <div>
                <img src="{% static 'images/food.jpg'%}" alt="" class="img1"> 
                <div class="ppp">
                    <p>
                        <h5>Lorem, ipsum.</h5>
                        <p>Lorem, ipsum.</p>
                    </p>
                   </div>               
             </div>
             <div>
                <img src="{% static 'images/food.jpg'%}" alt="" class="img1"> 
                <div class="ppp">
                    <p>
                        <h5>Lorem, ipsum.</h5>
                        <p>Lorem, ipsum.</p>
                    </p>
                   </div>               
             </div>
             
             <div>
                <img src="{% static 'images/food.jpg'%}" alt="" class="img1">               
             </div>
             <div>
                <img src="{% static 'images/food.jpg'%}" alt="" class="img1">               
             </div>
             <div>
                <img src="{% static 'images/food.jpg'%}" alt="" class="img1">               
             </div>
             <div>
                <img src="{% static 'images/food.jpg'%}" alt="" class="img1">               
             </div>
             <div>
                <img src="{% static 'images/food.jpg'%}" alt="" class="img1">               
             </div>
             <div>
                <img src="{% static 'images/food.jpg'%}" alt="" class="img1">               
             </div>
            
        
       
    </div>
</div>


{% endblock%}